.property {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 16px; */
}
.task-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.content {
  display: flex;
  max-width: 100%; /* Establecer el máximo ancho al 50% de la grilla */
  box-sizing: border-box;
}
.line {
  border-bottom: 1px solid grey;
}
.main-container {
  display: flex;
  gap: 1rem;
}
.w-50 {
  width: 50%;
  padding: 0 1rem;
}
.flex {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .main-container {
    flex-direction: column;
  }
  .w-50 {
    width: 100%;
  }
}
