.property {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.task-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.content {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
}
.line {
  border-bottom: 1px solid grey;
}
.main-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.w-50 {
  width: 100%;
  padding: 0 1rem;
}
.flex {
  display: flex;
}
